.has-slider {
    overflow: hidden;
    width: 100%;
}

.has-slider .slider {
    width: 200%;
    display: flex;
}

.has-slider .slider.is-animating {
    transition: transform 400ms cubic-bezier( 0.5, 0, 0.5, 1 )
}

.slide {
    padding-top: 15%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide.slide1 {
    background-image: url(https://media.giphy.com/media/2YjYpOl1eBy6I/giphy.gif);
}
.slide.slide3 {
    background-image: url(https://media.giphy.com/media/xUNd9R26axe6d9qZig/giphy.gif);
}
.slide.slide2 {
    background-image: url(https://media.giphy.com/media/AY2LAzAxgxems/giphy.gif);
}
