<!--The content below is only a placeholder and can be replaced.-->
<div class="has-slider">
  <div class="slider" (pan)="onPan($event)" #slider [style.transform]="SliderTranslateX" [ngClass]="isSliderDuringAnimation ? 'is-animating' : ''">
    <div class="slide slide1">1</div>
    <div class="slide slide2">2</div>
  </div>
</div>

